// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

//variables
$blue: rgb(23, 212, 212);

body{
    background: rgb(30, 30, 31);
    color: $blue;
}

